# ------------------------------------
# DEPENDÊNCIAS
# ------------------------------------
node_modules/        # Pasta de dependências do Node (não precisa copiar)
dist/                # Build de produção

# ------------------------------------
# CONFIGURAÇÕES LOCAIS
# ------------------------------------
*.env                # Variáveis de ambiente
*.local              # Arquivos locais não versionados

# ------------------------------------
# ARQUIVOS DE SISTEMA / IDE
# ------------------------------------
.vscode/             # Configurações do VS Code
.idea/               # Configurações do PHPStorm/WebStorm
