# ------------------------------------
# LARAVEL (BACKEND)
# ------------------------------------
/backend/vendor/
/backend/storage/*
!/backend/storage/app
!/backend/storage/framework
!/backend/storage/logs
/backend/.env
/backend/.phpunit.result.cache

# ------------------------------------
# VUE (FRONTEND)
# ------------------------------------
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.output
/frontend/.vitepress

# ------------------------------------
# DOCKER
# ------------------------------------
/docker/.env

# ------------------------------------
# GERAL / SISTEMA
# ------------------------------------
.DS_Store
*.log
*.local
*.lock
.env

# ------------------------------------
# DOCUMENTOS LOCAIS (evite versionar)
# ------------------------------------
*.docx
*.pdf
*.xlsx
