# ------------------------------------
# DEPENDÊNCIAS
# ------------------------------------
vendor/

# ------------------------------------
# CACHE E LOGS
# ------------------------------------
storage/
public/

# ------------------------------------
# CONFIGURAÇÕES LOCAIS
# ------------------------------------
*.env
*.local

# ------------------------------------
# ARQUIVOS DE SISTEMA / IDE
# ------------------------------------
.vscode/
.idea/
